*{ 
  padding:0;
  margin: 0;
  font-family: 'Shadows Into Light' cursive;
  box-sizing:border-box;
}
.hero{
  height: 100vh;
  width: 100%; 
  background-image: url(https://images.unsplash.com/photo-1531436040007-7216019112d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80);
  background-size: cover;
  background position:center;
}
nav{
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo{
  color: Black;
  font-size: 35px;
  letter-spacing: 20px;
  cursor:pointer;
}
span{
  color: hotpink;
}









:root{
  --blue: #08D9D6;
  --dark: #252a34;
  --hot-pink: hotpink;
  --crimson:#ff2e63;
  --grey:#eaeaea;
}


footer{
  border: 4px solid var(--grey);
  background-color: var(--grey);
}
.footer{
  display:flexbox
}